* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-rows: 100px 470px 150px;
    height: 720px;
    margin: 2rem auto;
    width: 1000px;
}
.footer {
    height: 150px;
    padding: 20px;
    width: 1000px;
}
.header {
    height: 100px;
    padding: 20px;
}
.main {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 680px 300px;
    height: 470px;
    width: 680px;
}
    .main__content {
        display: grid;
        grid-row-gap: 10px;
        grid-template-rows: 230px 230px;
        height: 470px;
        width: 680px;
    }
        .main__content__item--1,
        .main__content__item--2 {
            height: 230px;
            padding: 20px;
            width: 680px;
        }
    .main__sidebar {
        display: grid;
        grid-row-gap: 10px;
        grid-template-rows: 150px 150px 150px;
        height: 470px;
        width: 150px;
    }
        .main__sidebar__item--1,
        .main__sidebar__item--2,
        .main__sidebar__item--3 {
            height: 150px;
            padding: 20px;
            width: 300px;
        }
