* {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}

.container{
	display: grid;
	grid-template-rows: 100px 470px 150px;
	margin: 2rem 300px;
	width: 1000px;
}

.main{
	display: grid;
	grid-template-columns: 680px 300px;
	grid-gap: 5px 20px;
}

.main__content {
	display: grid;
	grid-template-rows: 230px 230px;
	grid-row-gap: 10px;
}

.main__sidebar {
	display: grid;
	grid-template-rows: 150px 150px 150px;
	grid-row-gap: 10px;
}

